@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Header -->
<header class="masthead">
    <div class="container" s>
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Bid Products Platform!</div>
            <div class="intro-heading text-uppercase">Start Bidding Now!</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" asp-page="/Bids/Create">Create Bid</a>
        </div>
    </div>
</header>
